  .fede-in {
    animation: fede-in 1s ease-in-out;
    animation-fill-mode: forwards;
  }

  .fade-out {
    animation: fade-out 1s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .load {
    width: 30px;
    height: 30px;
    border: 3px solid #ffb801;
  
    border-radius: 50%;
  
    border-top-color: transparent;
  
    animation: load 0.6s infinite linear;
  }
  
  .done {
    background-image: url("../imgs/done.svg");
    width: 30px;
    height: 30px;
    background-size: contain;
  }
  
  @keyframes load {
    to {
      transform: rotate(360deg);
    }
  }

  .slide-left-right {
    transform: translateX(-20px);
    animation: slide 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  .slide-right-left{
    transform: translateX(20px);
    animation: slide 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  .slide-up-down {
    transform: translateY(0px);
    animation: slide-up-down 0.3s ease-in-out;
    animation-fill-mode: forwards;
  }

  @keyframes slide-up-down {
    to{
      transform: translateY(30px);
    }
  }
  
  @keyframes slide {
    to{
      transform: translateX(0);
    }
  }
  
  @keyframes fede-in {
    to {
      opacity: 1;
    }
    from {
      opacity: 0;
    }
  }

  @keyframes fade-out {
    from{
      opacity: 1;
    }
    to{
      opacity: 0;
    }
  }